* {
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color:#FFF5EE;

}

/*Menu*/
.btnCategory {
    width:100%;
    margin: auto;
    padding-left:0.5em ;
    padding-right: 0.5em;

}

.navbar-nav {
    background-color: #3366BB;
    width: 100%;
    text-align: center;
    font-size: large;

}

.navbar-nav li {
    float: none;
    display: inline-block;

  }
ul.navbar-nav a:hover{
    color: #3366BB;
    background-color:#FFF5EE;
}

#lnkProfileUserName{
    font-family: Calibri;
    font-size: 0.8em;
    padding-right: 0%;

}


#bannerDiv{
    position: relative;
    background-image: url("../resources/bannerfishies.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vw;
}

#bannerText{
    padding-left: 5vw;
    font-size: 10vw;
    color: white;
}
#searchDiv{
    position: absolute;
    bottom: 1vw;
    margin-left: 30vw;
}

#tfSearch{
    color: black;
    width: 40vw;
}
#btnSearch{
    color: black;
}

.heading{
    text-align: center;
    margin-top: 0.5em;
}
#lnkProfileUserName{
    color: white;
}

#selectCategory{
    border:none;
    background-color: #3366BB;
    color: white;
    cursor: pointer;
}

.menuTxt{
    color: white;
}
.dropdown-menu{
    background-color: #3366BB;
}
#userusername{
    background-color: #3366BB;
}
#userpassword{
    background-color: #3366BB;
}
/*menu end*/
/*Reg User*/

#regForm{
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
}
#btnAddUser{
    margin-bottom: 3em;
    margin-top: 3em;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #3366BB;
    color: white;
    padding: 3px 8px 3px 8px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;

}
/*Reg User end*/

/*Product List*/

#productInfoDiv{

    border-color: #3366BB;
}

.product{
    background-color: white;
    overflow: hidden;
    border: double;
    margin: 0.5em;
    padding: 0.5em;
    border-color: #3366BB;
}

.description{
    text-decoration: none;
    background-color: inherit;
    color: black;
}
.productText{
    color: black;
}
.endDate{
    background-color: #3366BB;
    text-align: center;
    width: 100%;
    height: 100%;

    color: #fff;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
    left: 0;
    bottom: 0;


}
.highestBid{
    background-color: #3366BB;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: #fff;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
    left: 0;
    bottom: 0;


}
.buyNowPrice{
    background-color: #3366BB;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: #fff;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
    left: 0;
    bottom: 0;

}
.image{
    height: 150px;
    width: 300px;
    float: left;
}

/*Product list end*/

/*addProduct*/
#addProductForm{
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 2em;

}

#previewImage{
    max-height: 10em;
    max-width: 10em;
}

#selectImage{
    border:none;
    background-color: #3366BB;
    color: white;
}
#btnAddProduct{
    margin-bottom: 3em;
    margin-top: 3em;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #3366BB;
    color: white;
    padding: 3px 8px 3px 8px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;

}


.productText{
    font-family: Calibri;
    font-size: large;
}

/*addProduct end*/

/*ProductDetails */


#productDetTxt{
    font-family: Calibri;
    font-size: 1.3em;
}
#productTextDetails{
    font-size: 3em;

}

#ownerDetails{
    display: inline;
    padding-right: 1.5em;
}

#startDateDetails{
    display: inline;
}

#descriptionDetails{
    font-size: 1em;
    padding-top: 1em;
}
#endDateDetails{
    margin-top: 1em;
    background-color: #3366BB;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: #fff;
    display: block;
    left: 0;
    bottom: 0;
    margin-top: 0em;

}

#addBidDetails{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    text-align: center;
    box-shadow: inset 1px 1px;
}

#lnkAddBid {
    margin-top: 1em;
    background-color: #00CC00;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: #fff;
    display: block;
    left: 0;
    bottom: 0;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    border-bottom-width: 7px;

}

#highestBidDetails{
    background-color: #4D4DFF;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: #fff;
    display: block;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    border-bottom-width: 7px;
}
#highestBidDetails:hover{
    cursor: pointer;
}

#buyNowPriceDetails{
    background-color: #8282E7;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: #fff;
    display: block;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    border-bottom-width: 7px;
    text-decoration: none;
}

#startPriceDetails{
    background-color: #3366BB;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: #fff;
    display: block;
    margin-top: 20px;
    margin-bottom: 0em;
    left: 0;
    bottom: 0;

}


/*productDetails end*/

/*edit Product*/
#editProductForm{
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
}
#btnUpdateProduct{
    margin-bottom: 3em;
    margin-top: 3em;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #3366BB;
    color: white;
    padding: 3px 8px 3px 8px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;
}

/*edit Product end*/
/*confirmPurchase*/

#swishOption p{
    display: inline;
}

#ratingDiv{
    display: block;
    margin-top: 2em;
    margin-right: 80%;
    float: left;
}

.rating {

}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
#confirmSwishPurchaseDiv{
    display: block;
    float: left;
}
#confirmPurchase {
    cursor: pointer;
}

/*confirmPurchase END*/


/*UserProfile*/
#sellerRatingStar{
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    display: inline;
}
#buyerRatingStar{
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    display: inline;
}


#btnEditUser{
    margin-bottom: 3em;
    margin-top: 3em;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #3366BB;
    color: white;
    padding: 3px 8px 3px 8px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;

}
#btnDeleteUser{
    margin-bottom: 3em;
    margin-top: 3em;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #3366BB;
    color: white;
    padding: 3px 8px 3px 8px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;
}

#lnkEditProduct{
    margin-bottom: 3em;
    margin-top: 3em;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #3366BB;
    color: white;
    padding: 3px 8px 3px 8px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;
}
#lnkDeleteProduct{
    margin-bottom: 3em;
    margin-top: 3em;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #3366BB;
    color: white;
    padding: 3px 8px 3px 8px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;
}

.profileInfo{
    float: left;
    text-align: right;
}
#userDetailsList p{
    text-align: right;
}

/*UserProfile End*/

/*editUser*/
#tfUpdatePostCode{
    margin-bottom: 1em;
}

#btnUpdateUser{
    margin-bottom: 3em;
    margin-top: 3em;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #3366BB;
    color: white;
    padding: 3px 8px 3px 8px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;
    cursor: pointer;

}


#editUserForm{
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
}

/*editUser End*/
/*User profile Product list*/

.OwnerProductObject{
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border:double;
    border-color: #3366BB;
    margin-bottom: 3em;
}

.formTexts{
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0em;
}

/*User profile Product list END*/

/*about*/

.aboutInfo{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
    border-style: double;
    border-color: #3366BB;
    width: 80%;
    margin-top: 5em;
    font-family: Garamond;
}
.aboutTxt{
    width: 80%;
    font-size: large;
}
.aboutTitle{
    font-weight: bold;
}
#aboutImage{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    margin-bottom: 5em;
    margin-top: 1em;

}
/*about end*/








