*{

}

.row{
    background-color: #9EE8BD;

}

.title{
    background-color: inherit;
    color: black;
}

.shortDescription{
    background-color: inherit;
    color: #258281;
}
.endDate{
    background-color: #EB6688;
    padding: 1em;
    text-align: center;
    font-size: 2em;
}
.highestBid{
    background-color: #EB6688;
    padding: 1em;
    text-align: center;
    font-size: 2em;
}
.buyNowPrice{
    background-color: #B56AA3;
    padding: 1em;
    text-align: center;
    font-size: 2em;
}
.image{
    width: 400px;
    float: left;
}
#productList{
    border: double;
}

.col-sm-8{
    border: dotted;
}