<persistence>
	<persistence-unit name="QuizManagement">
		<description>this unit Manages questions and answers</description>
		
		<!--  How to connect to the database -->
		<jta-data-source>jdbc/HRDatabase</jta-data-source>
		
		<!-- Name of Class -->
		<class>com.idnoll.models.QuestionModel</class>
	</persistence-unit>
</persistence>