<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fiskenätet - Användarregistrering</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../scripts/addUser.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <div id="bannerDiv">
            <p id="bannerText">#Fiskenätet</p>
        </div>
        <!--MENUBAR-->
        <ul id="menubar" class="nav navbar-nav">
            <li><a class="menuTxt" href="../index.html">Hem</a></li>
            <li><a class="menuTxt" id="lnkAbout" href="about.html">Om oss</a></li>
            <li><a class="menuTxt" id="lnkRegUser" href="addUser.html" style="color: #3366BB; background-color:#FFF5EE">Registrera</a></li>
            <li class="dropdown">
                <a class="menuTxt" id= "lnkLogIn" class="dropdown-toggle" data-toggle="dropdown" href="#">Logga in<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <form>
                        <p class="menuTxt">Användarnamn</p>
                        <input type="text"id="UserUserName" name="inputUserName" placeholder="Användarnamn" required><br>
                        <p class="menuTxt">Lösenord</p>
                        <input type="password"id="UserPassword" name="inputPassword" placeholder="Lösenord" required><br>
                        <input type="button" value="Logga in!" id="btnLogIn">
                    </form>
                </ul>
            </li>
        </ul>
        <!--MENUBAR END-->
    </div>
</div>

<form id="regForm">
    <p class="formTexts">Förnamn:</p>
    <input id="tfFirstName" type="text" placeholder="Förnamn"><br>

    <p class="formTexts">Efternamn:</p>
    <input id="tfLastName" type="text" placeholder="Efternamn"><br>

    <p class="formTexts">Användarnamn: (får ej innehålla mellanslag)</p>
    <input id="tfUserName" type="text" placeholder="Användarnamn">

    <p class="formTexts">Lösenord: (får ej innehålla mellanslag)</p>
    <input id="tfPassword" type="password" placeholder="Lösenord" maxlength="64"><br>

    <p class="formTexts">Upprepa lösenord:</p>
    <input id="tfPasswordRepeat" type="password" placeholder="Upprepa lösenord" maxlength="64"><br>

    <p class="formTexts">E-mail:</p>
    <input id="tfEmail" type="email" placeholder="e-mail"><br>

    <p class="formTexts">Telefonnummer Mobil:</p>
    <input id="tfMobileNumber" type="tel" placeholder="Mobilnummer"><br>

    <p class="formTexts">Betalningsalternativ:</p>
    <p>Hur vill du ta emot betalningar?</p>
    <input type="radio" name="paymentOption" id="payWithSwish">Swish<br>
    <input type="radio" name="paymentOption" id="payWithPaypal">PayPal.Me<br>
    <input type="radio" name="paymentOption" id="payWithEither">Båda<br>
    <input type="text" placeholder="PayPal.Me Användarnamn" id="payPalName"><br>

    <p class="formTexts">Adress:</p>
    <input id="tfAdress" type="text" placeholder="Postadress"><br>

    <p class="formTexts">Postnummer:</p>
    <input id="tfPostCode" type="text" placeholder="Postnummer & ort"><br>

    <br>


    <a href="#" id="btnAddUser">Registrera</a>
    <!--<input id="btnAddUser" type="submit" value="Registrera">-->



</form>
</body>
</html>
