.jumbotron{
  background: url("../images/jumbotron.png"),
  transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 400px;
}


#login{
	position: relative;
   left: 90%;
   top: 10%;
   font-family: Georgia, sans-serif;
   font-size: 1.2em;
}

body {
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
	color: rgb(66,139,202);
}

.pageclass {
	text-align: center;
}

.nav-tabs{
	background-color: white;
}

.nav-tabs > li > a{
background-color: rgb(66,139,202);
  border: medium none;
  color:#fff;
  border: 2px solid white;
}
.nav-tabs > li > a:hover{
  background-color: rgba(66,139,202,0.5);
  border: 1px solid black;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.nav-tabs > li > a:FOCUS{
  background-color: rgba(66,139,202,0.9);
  border: 1px solid black;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.dropdown-menu{
	width: 100%;
	height: 100%;
}